.banner{
  min-height: 450px;
  display: flex;
  align-items: stretch;
  background-color: #000;
  overflow: hidden;
}
.bannerTitleContainer{
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch;
}
.bannerImage{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}
.bannerContent{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: stretch;
  width: 100%;
  .wrapInner{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}
.bannerTitle{
  width: 560px;
  font-size: 62px;
  line-height: 1.20;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}